.LogoWithText {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

.logo {
    width: 200px;
    height: 200px;
}

.collector1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
    margin-right: 150px;
}

.p1 {
    font-family: Sunday;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.collector2 {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.yellowLine {
    width: 0;
    height: 112px;
    border: 1.6px solid #FFB800;
}

.description {
    width: 741px;
    height: 132px;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.8px;
}

.logo2 {
    width: 102px;
    height: 200px;
}