.Regestriationpage {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1024px;
    background-image: url(../../assets/registriation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}