.h1Black {
    font-family: Sunday;
    font-weight: 400;
    font-size: 36px;
    line-height: 43.2px;
    color: #000000;
    margin-left: 134px;
    margin-top: 20px;
}

.collector1 {
    margin-left: 135px;
    margin-top: 33px;
    display: flex;
    gap: 50px;
}

.favorites {
    width: 123px;
    height: 50px;
    border-radius: 32px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.image {
    object-fit: cover;
    width: 24px;
    height: 24px;
}

.traditional {
    width: 233px;
    height: 50px;
    background-color: #F5F5F5;
    border-radius: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.timeMeal {
    width: 203px;
    height: 50px;
    border-radius: 32px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #BABABA;
    line-height: 19.2px;
    font-family: Urbanist;
    font-weight: 400;
    cursor: pointer;
}

.menu {
    width: 70px;
    height: 50px;
    border-radius: 8px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burgerWrap {
    width: 18px;
    height: 12px;
}

.imageStar {
    width: 32px;
    height: 32px;
}