* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

@font-face {
	font-family: 'Sunday';
	src: url('./fonts/sunday.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/sunday.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/sunday.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/sunday.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/sunday.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/sunday.svg#sunday') format('svg'); /* Chrome < 4, Legacy iOS */
}

.container-1 {
    width: 100%;
    height: 100vh;
    background-image: url(../src/assets/registriation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}

.h1-1-1 {
    font-size: 24px;
    line-height: 28.8px;
    color: #ffffff;
    margin-top: 100px;
    font-family: Sunday;
    font-weight: 400;
    margin-bottom: 20px;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}

.collector-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 370px;
    height: 57px;
}

.p-1-1 {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #FFFFFF;
    margin-left: 5px;
}

.collector-2 {
    display: flex;
    justify-content: space-between;
    width: 370px;
}

.p-1-2 {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    color: #C5C5C5;
    transition: all 0.4s;
    text-decoration: none;
}

.p-1-2.pass:last-child:hover {
    font-size: 14px;
    color: white;
}

.collector-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 152px;
    height: 15px;
    gap: 10px;
}

.button-white {
    width: 370px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid #676767;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    color: #141414;
    text-decoration: none;
    margin: 10px 0;
}

.button-white.sec{
    display: flex;
    gap: 5px;
}

/* Password */

.container-2 {
    width: 100%;
    height: 100vh;
    background-image: url(../src/assets/password-page.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.inner-container {
    width: 490px;
    height: 530px;
    border-radius: 32px;
    backdrop-filter: blur(0.7rem);
    border: 2px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.p-2-1 {
    font-family: Sunday;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.p-2-2 {
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    color: white;
    margin-right: 90%;
}

.p-2-3 {
    font-family: "Open-Sans", sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.2;
    margin: 10px 0 10px 0;
}

.pass-button {
    background-color: #283825;
    border: none;
    border-radius: 32px;
    width: 100%;
    height: 35px;
    color: white;
    font-size: 16px;
    transition: all 0.4s;
    margin-top: 10px;
}

.pass-button:hover {
    cursor: pointer;
    background-color: #567246;
}

.pass-button:active {
    background-color: #384735;
    width: 95%;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.button-2 {
    background-color: white;
    border: none;
    border-radius: 32px;
    width: 160px;
    height: 35px;
    color: white;
    font-size: 16px;
    transition: all 0.4s;
    margin-top: 10px;
    color: #283825;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collector-4 {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
}

.p-1-3 {
    color: #888888;
}

.p-1-4 {
    color: #ffffff;
    text-decoration: none;
}